<h1>New Author</h1>
<div class="box box-primary py-5 mr-5">
  <div class="box-body">
    <div class="form-group">
    <%= render 'form', author: @author %>
    </div>
  </div>
</div>

<%= button_to "Back",  authors_path, :class => "btn btn-primary", :style =>"color: white;", :method => :get %>
