<h1>New Client</h1>
<div class="box box-primary py-5 mr-5">
  <div class="box-body">
    <div class="form-group">
    <%= render 'form', client: @client %>
    </div>
  </div>
</div>

<%= button_to "Back", clients_path, :class => "btn btn-primary", :style =>"color: white;", :method => :get %>
