<p id="notice"></p>
<section class="invoice">
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      <b>Name: </b><%= @client.name %><br>
    </div>
  </div>
</section>

<%= button_to "Edit", edit_client_path(@client), :class => "btn btn-primary", :style =>"color: white; margin: 5px; float:left;", :method => :get %>
<p style="float: left; padding-top: 12px"> | </p>
<%= button_to "Back", clients_path, :class => "btn btn-default", :style =>"margin: 5px;", :method => :get %>
