<h1>Bem vindo à biblioteca!</h1>

<p>Escolha no menu ao lado o campo que você quer consultar ou modificar.</p>
<%= button_to "Vá para as reservas", reservations_path, :class => "btn btn-info", :style =>"color: white;", :method => :get %>