<h1>Editing Book</h1>
<div class="box box-primary py-5 mr-5">
  <div class="box-body">
    <div class="form-group">
    <%= render 'form', book: @book %>
    </div>
  </div>
</div>

<%= button_to "Show", @book, :class => "btn btn-primary", :style =>"color: white; margin: 5px; float:left;", :method => :get %>
<p style="float: left; padding-top: 12px"> | </p>
<%= button_to "Back", books_path, :class => "btn btn-default", :style =>"margin: 5px;", :method => :get %>
