<p id="notice"><%= notice %></p>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Books</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>Name</th>
        <th>Stock</th>
        <th>Author</th>
        <th>Category</th>
      </tr>
      <tr>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.name %></td>
            <td><%= book.stock %></td>
            <td><%= book.author.name %></td>
            <td><%= book.category.name %></td>
            <td><%= link_to 'Show', book %></td>
            <td><%= link_to 'Edit', edit_book_path(book) %></td>
            <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= button_to "New Book", new_book_path, :class => "btn btn-primary", :style =>"color: white;", :method => :get %>
