<h1>New Book</h1>
<div class="box box-primary py-5 mr-5">
  <div class="box-body">
    <div class="form-group">
    <%= render 'form', book: @book %>
    </div>
  </div>
</div>

<%= button_to "Back", books_path, :class => "btn btn-primary", :style =>"color: white;", :method => :get %>