<p id="notice"></p>
<section class="invoice">
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      <b>Name: </b><%= @book.name %><br>
      <b>Stock: </b><%= @book.stock %><br>
      <b>Author: </b><%= @book.author.name %><br>
      <b>Category: </b><%= @book.category.name %><br>
    </div>
  </div>
</section>

<%= button_to "Edit", edit_book_path(@book), :class => "btn btn-primary", :style =>"color: white; margin: 5px; float:left;", :method => :get %>
<p style="float: left; padding-top: 12px"> | </p>
<%= button_to "Back", books_path, :class => "btn btn-default", :style =>"margin: 5px;", :method => :get %>
