<p id="notice"><%= notice %></p>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Reservations</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>Book</th>
        <th>Client</th>
        <th>Librarian</th>
      </tr>
      <tr>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.book.name %></td>
            <td><%= reservation.client.name %></td>
            <td><%= reservation.librarian.name %></td>
            <td><%= link_to 'Show', reservation %></td>
            <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
            <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= button_to "New Reservation", new_reservation_path, :class => "btn btn-primary", :style =>"color: white;", :method => :get %>
