<p id="notice"></p>
<section class="invoice">
  <div class="row invoice-info">
    <div class="col-sm-4 invoice-col">
      <b>Book: </b><%= @reservation.book.name %><br>
      <b>Client: </b><%= @reservation.client.name %><br>
      <b>Librarian: </b><%= @reservation.librarian.name %><br>
    </div>
  </div>
</section>

<%= button_to "Edit", edit_reservation_path(@reservation), :class => "btn btn-primary", :style =>"color: white; margin: 5px; float:left;", :method => :get %>
<p style="float: left; padding-top: 12px"> | </p>
<%= button_to "Back", reservations_path, :class => "btn btn-default", :style =>"margin: 5px;", :method => :get %>
