<h1>New Category</h1>
<div class="box box-primary py-5 mr-5">
  <div class="box-body">
    <div class="form-group">
    <%= render 'form', category: @category %>
    </div>
  </div>
</div>

<%= button_to "Back", categories_path, :class => "btn btn-primary", :style =>"color: white;", :method => :get %>
