<p id="notice"><%= notice %></p>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Librarians</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th>Name</th>
      </tr>
      <tr>
        <% @librarians.each do |librarian| %>
          <tr>
            <td><%= librarian.name %></td>
            <td><%= link_to 'Show', librarian %></td>
            <td><%= link_to 'Edit', edit_librarian_path(librarian) %></td>
            <td><%= link_to 'Destroy', librarian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= button_to "New Librarian", new_librarian_path, :class => "btn btn-primary", :style =>"color: white;", :method => :get %>
