<h1>New Librarian</h1>
<div class="box box-primary py-5 mr-5">
  <div class="box-body">
    <div class="form-group">
    <%= render 'form', librarian: @librarian %>
    </div>
  </div>
</div>

<%= button_to "Back",  librarians_path, :class => "btn btn-primary", :style =>"color: white;", :method => :get %>